<h1>Rayuela 69</h1>
<h3>Ésta es una sencilla aplicación inspirada en el <%= link_to 'capítulo 69', 'http://ciaoverona.blogspot.mx/2008/05/rayuela-captulo-69.html'%> de <%= link_to 'Rayuela', 'http://es.wikipedia.org/wiki/Rayuela_(novela)'%> de <%= link_to 'Julio Cortázar', 'http://es.wikipedia.org/wiki/Julio_Cort%C3%A1zar'%>.</h3>
<h3>Homenaje a un gran escritor y ludolinguista.</h3>
<hr>
<p>Instrucciones: teclea en el recuadro un texto.</p>
<p>Al presionar el botón de "cambiar" obtendrás el texto cambiado al estilo del capítulo.</p>
<%= form_tag root_path do %>
	<%= text_area_tag :texto, nil, placeholder: 'Escribe el texto original que deseas cambiar', size: '50x5'%>
	<%= submit_tag 'Cambiar'%>
<% end %>
<h3>Resultado</h3>
<%= text_area_tag :txt, @texto69, size: '50x5'%>
<br>
<p><b>Contacto: </b><%= mail_to 'electrojazz@gmail.com', 'email'%></p>
<p><b>Otros sitios: </b><%= link_to 'soyasne', 'http://soyasne.blogspot.com'%> | <%= link_to 'beatles can kiss my ass', 'http://www.beatlescankissmyass.blogspot.com' %> | <%=link_to 'Quantum Machina','http://www.quantummachina.com' %></p>
<hr>
<h4>Comentarios</h4>
<%= form_for @comment do  |f| %>
	<%= f.text_area :t, placeholder: 'Deja un comentario', rows: 3 %>
	<%= f.submit 'Publicar Comentario' %>
<%end%>
<br>
<% Comment.all.each do |c| %>
	<p>- <%= c.t %></p>
<%end%>